*{
  font-family: "Poppins", sans-serif;
}
/* heroSec */
.hero{
    min-height: 95vh;
    color: white;
    background: url(/src/img/heroBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }
  .hero > .plate > img{
    display: none;
  }
  h1{
    color: #36BF06;
  }
  .mobileBG{
    background-color: rgba(0, 0, 0, 0.571);
    width: 100%;
    height: 95vh;
  }
  .heroButton{
    background-color: #36bf06;
    color: white;
    border:1px solid #36bf06;
    border-radius: .5rem;
    margin-top: 15px;
  }
  .heroButton:hover{
    background-color: #3FDC07;
    border: 1px solid #3FDC07;
  }

  /* secondSec */
  .secondSec{
    min-height: 50vh;
  }
  .secondSecCont{
    width: 100%;
  }
  .cards{
    padding: 10px;
    background-color: #f8f9fa;;
    border: 1px solid black;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* thirdSec */
  .thirdSec{
    min-height: 100vh;
  }
  .thirdSecImg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  /* fourthSec */
  /* .fourthSec{
    min-height: 95vh;
  } */
  .fourthSecImg{
    width: 100%;
  }

  .SC-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .TC-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .FC-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  @media screen and (min-width:1500px){
    .secondSecCont{
      width: 1500px;
    }
  }
  @media screen and (min-width:768px) {
    .hero{
      color: black;
      background: url();
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      background-position: center;
    }
    .hero > .plate > img{
      width: 30vw;
      display: block;
    }
    .mobileBG{
      background-color: rgba(0, 0, 0, 0);
      width: auto;
      height: auto;
    }

    .SC-grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .TC-grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .FC-grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media screen and (min-width:1180px) {
    .fourthSecImg{
      width: 60vh;
    }
  }









  
  /* BOOTSTRAP */

  
  .justify-content-center-left {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-center-right {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

.text-center {
  text-align: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.d-none {
  display: none !important;
}

@media screen and (min-width:768px) {
  .mx-md-4{
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  .justify-content-center-left {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-center-right {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .d-flex-md {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-none-md {
    display: none !important;
  }
}